@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-align: center;
    font-family: Lexend Deca;
    font-size: 1rem;
}
body{
    background-color: #ffffff;
    max-width: 1440px;
}
h1{
    font-family: Lexend Deca;
    color: #000000;
    text-align: center;  
}
main h1{
    color:#ffffff;
    font-family: Lexend Deca;
    margin-bottom: 2rem;
}
img{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
input{
    margin-top: 7rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid white;
}
.item1 input:hover{
    color: #ffffff;
    background-color: hsl(31, 77%, 52%);;
}
.item2 input:hover{
    color: #ffffff;
    background-color: hsl(184, 100%, 22%);;
}
.item3 input:hover{
    color: #ffffff;
    background-color: hsl(179, 100%, 13%);
}
p{
    color:#ffffff;
    font-family: Lexend Deca; 
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 7rem;
}
.item1{
    background-color: hsl(31, 77%, 52%);
    height: 30rem;
    width: 20rem;
    padding-left: 2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.item1 input{
    color: hsl(31, 77%, 52%);;
}
.item2{
    background-color:hsl(184, 100%, 22%);
    height: 30rem;
    width: 20rem;
    padding-left: 2rem;
}
.item2 input{
    color: hsl(184, 100%, 22%);
}
.item3{
    background-color: hsl(179, 100%, 13%);
    height: 30rem;
    width: 20rem;
    padding-left: 2rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.item3 input{
    color: hsl(179, 100%, 13%);
}